.footer 
    background-color: gray
    position: absolute
    bottom: 0
    width: 100%

.footer-nav-list
    display: flex
    justify-content: space-evenly
    list-style-type: none
    padding: 0

.footer-nav-item
    margin: 0 1rem